# Outputs
lib/*/*
!lib/*/files
lib/*/files/node_modules
lib/*/files/package-lock.json

# IDEs
.idea/
jsconfig.json
.vscode/

# Misc
node_modules/
npm-debug.log*
yarn-error.log*

# Mac OSX Finder files.
**/.DS_Store
.DS_Store
