name: docs
on:
  push:
    branches:
      - master

jobs:
  docs:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [14.x]

    steps:
      - uses: actions/checkout@v2

      - name: Node ${{ matrix.node-version }}
        uses: actions/setup-node@v2
        with:
          node-version: ${{ matrix.node-version }}
          cache: pnpm

      - name: Install Dependencies
        run: pnpm i
          
      - name: Build
        run: pnpm buildall

      - name: Documentation
        run: pnpm docs

      - name: Commit Files
        run: |
          git checkout -b gh-pages
          git config --local user.email "action@github.com"
          git config --local user.name "GitHub Action"
          touch docs/.nojekyll
          git add -f docs
          git commit -m "Update docs"

      - name: Push Changes
        uses: ad-m/github-push-action@master
        with:
          branch: gh-pages
          force: true
          github_token: ${{ secrets.GITHUB_TOKEN }}